* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {

    // we use root variable to make website consistent.

    // Background colors 
    --bg-primary-color: #0c0c0c;

    // Text color 
    --text-primary-color: #f0f0f0;

    // Spacing variables 
    --space-xs: 0.25rem;
    --space-sm: 0.50rem;
    --space-md: 1.00rem;
    --space-lg: 1.50rem;
    --space-xl: 2.00rem;
    --space-xxl: 2.50rem;
    --space-xxxl: 3.00rem;

    // Border colors
    --border-primary-color: #333;

    // Border radius
    --border-radius-xs: 0.25rem;
    --border-radius-sm: 0.50rem;
    --border-radius-md: 1.00rem;
    --border-radius-lg: 1.50rem;
    --border-radius-xl: 2.00rem;
    --border-radius-xxl: 2.50rem;
    --border-radius-xxxl: 3.00rem;
}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);

}

main,
section {
    width: 100%;
    height: 100%;
}

section {
    padding: var(--space-xxl);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-md);
    .infos {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .info {
            padding: var(--space-sm) var(--space-md);
            border: 1px solid var(--border-primary-color);
            border-radius: var(--border-radius-sm);
        }
    }

    .board{
        border: 1px solid var(--border-primary-color);
        // border-radius: var(--border-radius-sm);
        flex-grow: 1; // flex grow: says, take all space that is available inside parent
        // creating block : 
        // 20 x 20
        // total block contain by each screen : depends on screen.
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); // minmax(32px,1fr) help to fix empty space
        grid-template-rows: repeat(auto-fill, minmax(80px, 1fr)); // minnimum value must be 32px if there is more space then it will be 1fr.
        .block{
            // height: 32px;
            // width: 32px;
            border: 1px solid var(--border-primary-color);
        }
    }
}

